        <section class="form">
        
            <div class="container-fluid">
              <div class="row">
                  <!-- Form Actualizar Usuarios -->
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Actualizar Usuario</h3>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="form-group">
                          <label class="form-control-label">Nombre</label>
                          <input name="nombreA" type="text" placeholder="Ingrese el nombre" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="form-control-label">Usuario</label>
                          <input name="usuarioA" type="text" placeholder="Ingrese el usuario" class="form-control">
                        </div>
                        <div class="form-group">       
                          <label class="form-control-label">Contraseña</label>
                          <input name="contraseñaA" type="password" placeholder="Ingrese la contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                          <label class="form-control-label">Tipo Usuario</label>
                            <select name="tipo_usuarioA" class="form-control mb-3">
                              <option>Academico</option>
                              <option>Administrador</option>
                            </select>
                          </div>
                           <p>No dejar ningún campo vacío</p>
                        <div class="form-group">       
                          <input type="submit"  id=btActualizar value="Actualizar" class="btn btn-primary">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>