<!-- Tabla AprobarArchivos -->
          <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Aprobar Archivos</h3>
                    </div>
                    <div class="card-body"><table class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Detalles</th>
                            <th>Opciones</th>
                          </tr>
                        </thead>
                        <tbody id="archivos">
                          
                         </tbody>
                       </table>
                         <div class="form-group" >       
                          <a id="btRegistrarListar" class="btn btn-primary" href="javascript:prePeticionesList()"> Peticiones </a> 
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>