<html>
  <head>    
  </head>
  <body>
    <div class="row"> 
      <div class="col col-xs-12 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading" >
          <h3 id="tituloGraficaRedonda"></h3>
          <select id="selectGraficaPeriodos" onchange="cambiarGraficaPeriodo()"></select>
          </div>
          <div class="panel-body">
            <div class="" id="chart_div_reloj" style="width: 100%; height: 200px;"></div>        
          </div>
        </div>
      </div>       
      <div class="col col-xs-12 col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
          Panel name
          </div>
          <div class="panel-body">
            <div class="col col-xs-12 col-lg-6" id="chart_div_area" style="width: 100%; height: 500px;"></div>    
          </div>
        </div>
      </div>
    </div>
  </body>
</html>