<div class="form-group row">
                <div class="col-sm-4 offset-sm-3">                     
                  <a href="javascript:preIndicadorListPadre(0)">Indicadores</a>
                  <a href="javascript:cargarVista('Peticiones')">Peticiones</a>
                  <a href="javascript:cargarVista('Mapa')">Mapa</a>
                  <a href="javascript:preUsuarioList()">Usuario</a>
                  <a href="javascript:cargarVista('Personalizar')">Personalizar</a>
                </div>
              </div>