<section>
          <div class="container-fluid">
          <div class="row " id="IndicadorList" name="IndicadorList">

            

            


          </div>

              <div class="row ">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-bodyJ">
                      <div class="containerJn">
                        <a href="javascript:cargarFormIndicador()">
                        <img id="plus" src="front/public/icons-reference/plus.png" alt="Card image">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </section>