<section>
          <div class="container-fluid">
          <div class="row " id="IndicadorList" name="IndicadorList">

            <div class="col-sm-6">
              <div class="card">
                <div class="card-bodyJ">
                  <h4 class="card-title">Nombre del inidicador</h4>
                  <div class="row ">
                  <div class="col-sm-6">
                    <img class="card-img" src="img/avatar-5.jpg" alt="Card image">
                  </div>
                  <div class="col-sm-6">
                    <div class="containerJ">
                        <a href="#" class="btn btn-primaryJ">Detalles</a>
                        <a href="#" class="btn btn-primaryJ">Editar</a>
                        <a href="#" class="btn btn-primaryJ">Graficar</a>
                        <a href="#" class="btn btn-primaryJ">Eliminar</a>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <div class="card-bodyJ">
                  <h4 class="card-title">Nombre del inidicador</h4>
                  <div class="row ">
                  <div class="col-sm-6">
                    <img class="card-img" src="img/avatar-5.jpg" alt="Card image">
                  </div>
                  <div class="col-sm-6">
                    <div class="containerJ">
                        <a href="#" class="btn btn-primaryJ">Detalles</a>
                        <a href="#" class="btn btn-primaryJ">Editar</a>
                        <a href="#" class="btn btn-primaryJ">Graficar</a>
                        <a href="#" class="btn btn-primaryJ">Eliminar</a>
                  </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

              <div class="row ">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-bodyJ">
                      <div class="containerJn">
                        <a href="javascript:cargarFormIndicador()">
                        <img id="plus" src="front/public/icons-reference/plus.png" alt="Card image">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </section>