<section class="forms " >
        <div class="container-fluid" >
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-close">
                        </div>
                        <div class="card-header  text-center">
                            <h3 class="h4">Descripcion</h3>
                        </div>
                        <div class="card-body text-center">
                            <div class=" col-md-3">
                                <h5 id="descripcion" name="descripcion"></h5>
                            </div>

                        </div>
                    </div>
                </div>
                </div>
                <div class="row">
                <!-- Basic Form-->
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header  text-center" id="titulito" name="titulito">
                            <h3 class="h4  form-control-label">Archivos
                            <a class="btn" data-toggle="tooltip" href="javascript:preSubirArchivo()" data-placement="top" title="Agregar"><i class="material-icons">note_add</i></a>
                            </h3>

                        </div>

                        <div class="card-body text-center">
                            <form class="form-horizontal">
                                <div class=" col-md-3 ">
                                  <div class="row " id="archivosPdf" name="archivosPdf">


                                  </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body text-center">
                            <form class="form-horizontal">
                                <div class=" col-md-3 ">
                                  <div class="row " id="archivosPng" name="archivosPng">


                                  </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="col-md-12">

                </div>
            </div>
        </div>
    </section>
