<section class="tables">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <div class="col-lg-10">
                      <h3 class="h4">Lista De Usuarios</h3>
                      </div>
                      <div class="col-lg-10 align.items.right">
                      <a class="btn" data-toggle="tooltip" href="javascript:cargarRegistroUsuarios()" data-placement="top" title="Actualizar" id="actualizarUsuario"><i class="material-icons">person_add</i></a>
                      </div>
                    </div>
                    <div class="card-body">
                      <table class="table table-striped table-sm">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Tipo de usuario</th>
                            <th>Opciones</th>
                          </tr>
                        </thead>
                        <tbody id="UsuarioList">

                         </tbody>
                       </table>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
