<!DOCTYPE html>
<html>
    <head>
        <script src = "js/jscolor.js " ></script>
    </head>
    <body>
        <section class="forms " >
            <div class="container-fluid" >
                <div class="row">
                    <!-- Basic Form-->
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-close">
                            </div>
                            <div class="card-header d-flex">
                                <h3  style="width: 100%; height: auto;" >Personalizar</h3>
                            </div>
                            <div class="card-body ">

                                <form class="form-horizontal">
                                    <div class="col-sm-9">

                                        <label class="h4"  style="width: 100%; height: auto;" >Nombre:</label>
                                        <input id="nombreEmpresa" name="nombreEmpresa" type="text" placeholder="Digite el Nombre"  class="form-control form-control-success">

                                    </div>
                                    <br>
                                    <div class="col-sm-9">
                                        <label  style="width: 100%; height: auto;" class="h4">Logo:  </label>
                                                <input name="archivo" id="archivo" type="file" class="form-control form-control-file   "  style="width: 100%; height: auto;" multiple accept="image/jpeg, image/png" >
                                    </div>
                                    <br>
                                      <div class="col-sm-9">
                                        <label  style="width: 100%; height: auto;" class="h4">Colores:  </label>
                                          <label >Color Primario:</label>
                                          <div>
                                              <input type="color" name="colorPrincipal" class="">
                                          </div>
                                          <label >Color Secundario:</label>
                                          <div>
                                              <input type="color" name="colorSecundario" >
                                          </div>
                                      </div>

                                    <div class="text-center ">

                                        <input type="submit" value="Subir" class="btn btn-primary "  style="width: auto; height: auto;"  >

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
