<!-- Forms Section-->
         <section class="forms">
           <div class="container-fluid">
             <div class="row">


               <!-- Horizontal Form-->
               <div class="col-lg-6">
                 <div class="card">

                   <div class="card-header d-flex align-items-center">
                     <h3 class="h4">Agregar Periodo</h3>
                   </div>
                   <div class="card-body">

                     <form class="form-horizontal" enctype="multipart/form-data" id="registrarPeriodo" action="javascript:periodoInsert('registrarPeriodo')" method="post">
                       <input type="hidden" id="id" name="id">
                       <div class="form-group row">
                         <label class="col-sm-3 form-control-label">Meta</label>
                         <div class="col-sm-9">
                           <input id="amarillo" name="amarillo" type="number" step="any" placeholder="Meta" class="form-control form-control-success" >
                         </div>
                       </div>

                       <div class="form-group row">
                         <label class="col-sm-3 form-control-label">Valor Aceptable</label>
                         <div class="col-sm-9">
                           <input id="rojo" name="rojo" type="number" step="any" placeholder="0" class="form-control form-control-success" >
                         </div>
                      </div>
                      <div class="form-group row">
                         <label class="col-sm-3 form-control-label">Valor Máximo</label>
                         <div class="col-sm-9">
                           <input id="verde" name="verde" type="number" step="any" placeholder="0" class="form-control form-control-success" >
                         </div>

                       </div>

                       <div class="form-group row">
                         <label for="example-date-input" class="col-4 col-form-label">Inicio de Periodo*</label>
                         <div class="col-6">
                           <input class="form-control" type="date" id="fecha_ini" name="fecha_ini" >
                         </div>
                       </div>

                       <div class="form-group row">
                         <label for="example-date-input" class="col-4 col-form-label">Final de Periodo*</label>
                         <div class="col-6">
                           <input class="form-control" type="date" id="fecha_fin" name="fecha_fin" >
                         </div>
                       </div>


                       <div class="line"></div>

                       <div class="form-group row">
                         <label class="col-sm-3 form-control-label">Cantidad</label>
                         <div class="col-sm-9">
                           <input id="cantidad" name="cantidad" type="number" step="any" placeholder="0" class="form-control form-control-success" >
                         </div>
                       </div>


                       <div class="line"></div>

                       <div class="form-group row">
                         <div class="col-sm-9 offset-sm-3">
                           <input type="submit" value="Agregar" class="btn btn-primary">
                         </div>

                     </form>
                   </div>
                 </div>
               </div>



             </div>
           </div>
         </section>
