 

           <div class="col-lg-6" >
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Entrada </h3>

                    </div>
                    <div class="card-body">
                      
                      <form>
                          <div class="form-group">
                          <label class="form-control-label">Nombre</label>
                          <input id="nomb" class="form-control" type="text" placeholder="Nombre" >
                        </div>

                        <div class="form-group">       
                          <label class="form-control-label">Descripción</label>
                          <input id="dscrp" class="form-control" type="text" placeholder="Descripción" >
                        </div>
                    
                        <div class="form-group">

                          <label id= "estad" class="form-control-label"> Estado  </label>
      
                            <div class="i-checks">
                              <input id="activo" type="radio" value="option1" name="estado" class="radio-template">
                              <label for="radioCustom1">Activo</label>
                            </div>

                            <div class="i-checks">
                              <input id="inactivo" checked="" type="radio"  value="option2" name="estado" class="radio-template">
                              <label for="radioCustom2">Inactivo</label>
                            </div>  

                          </div>
                      </form>
         
            
                    </div>
                   </div>
                </div>
                <!-- Horizontal Form-->



                 <div class="col-lg-15">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Archivos</h3>

                    </div>
                    <div class="card-body">
                      
                      <form>
                


                        <div class="form-group">       
                          <label class="form-control-label" for="fileInput" class="col-sm-9 form-control-label" >Seleccione Archivo</label>
                   <div class="form-group row">
                          

                            <input id="fileInput" type="file"  class="form-control-file" multiple="true">

                          </div>
                          <br>
                          <br>

           <div class="form-group row">
                          <div class=" offset-sm-3">
                            <button id="guardar" class="btn btn-primary" type="button">Guardar</button>
                            <button id="cancelar" type="submit" class="btn btn-secondary">Cancelar</button>
                   </div>
                   </div>
                          
                        </div>
                      </form>

                          </div>
                        
                     

                    </div>

                    </div>
                     
