
        <div class="card-header d-flex align-items-center">
            <h3 class="h4">Personalizar</h3>
        </div>
        <div class="card-body">
            <p class="align-items-center">Perzonalizar Pagina</p>
            <form class="form-horizontal">
                <div class="form-group row">
                    <label for="fileInput" class="col-sm-7 form-control-label">Nombre</label>
                    <div class="col-sm-9">
                        <input type="text" placeholder="Nombre de la Empresa" style="width: 130%" class="form-control-file" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fileInput" class="col-sm-7 form-control-label">Logo</label>
                    <div class="col-sm-9">
                        <img src="img/avatar-1.jpg" width="150" height="150">
                        <input type="file" id="fileInput" class="form-control-file"  accept="image/jpeg, image/png" >

                    </div>
                </div>
                <div class="form-group row">
                    <label for="fileInput" class="col-sm-7 form-control-label">Colores</label>
                    <div class="col-sm-9">
                        <label >Color Primario:</label>
                        <div>
                            <input type="color" name="colorPrincipal">
                        </div>
                    </div>
                    <div>
                        <label >Color Secundario:</label>
                        <div>
                            <input type="color" name="colorSecundario" >
                        </div>
                    </div>
                </div>
                <div class=" text-center">       
                    <input type="submit" value="Actualizar" class="btn btn-primary" >
                </div>
            </form>
        </div>